<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infusiblecoder.loanappsameed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:installLocation="preferExternal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ShowLoanDetailsAndShareThem"
            android:theme="@style/loanrequest" />
        <activity
            android:name=".activity.SubmitAReviewForLoanInReview"
            android:theme="@style/loanrequesthistory" />
        <activity
            android:name=".activity.LoanRequestHistory"
            android:theme="@style/loanrequesthistory" />
        <activity
            android:name=".activity.ShowDetailsOfserRequestsOnClick"
            android:theme="@style/loanrequest" />
        <activity
            android:name=".activity.NotificationsListUserRequests"
            android:theme="@style/loanrequest" />

        <provider
            android:name=".Helpers.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.ShowDetailsOfRequestSelected"
            android:theme="@style/loanrequest" />
        <activity
            android:name=".activity.LoanRequestList"
            android:theme="@style/loanrequesthistory" />
        <activity
            android:name=".activity.HomeActivityDrawar"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label=""
            android:theme="@style/LoginActivityTheme" />
        <activity
            android:name=".activity.SignupActivity"
            android:label=""
            android:theme="@style/SignupActivityTheme" />
        <activity
            android:name=".activity.RequestLoanActivity"
            android:label=""
            android:theme="@style/RequestLoadActivityTheme" />
        <activity
            android:name=".activity.OnboardActivity"
            android:label=""
            android:theme="@style/OnboardActivityTheme" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label=""
            android:theme="@style/ProfileActivityTheme" />
        <activity
            android:name=".activity.LenderReviewPageActivity"
            android:theme="@style/LenderReviewPageActivityTheme" />
        <activity
            android:name=".activity.BorrowerRejectPageActivity"
            android:theme="@style/BorrowerRejectPageActivityTheme" />
        <activity
            android:name=".activity.SplashActivity"
            android:label=""
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>